@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
  <table>
	  <thead>
	  	<tr>
	  		<th>Name</th>
	  		<th>Job</th>
	  	</tr>
	  </thead>
	  <tbody>
		  <tr>

		  </tr>
	  </tbody>
  </table>
</div>
